@font-face {
  font-family: roboto;
  src: url("../fonts/roboto-v20-latin-regular.woff2");
}
@font-face {
  font-family: visby;
  src: url("../fonts/visbycf-heavy.woff2");
}
$blue: #0362fc;
$black: #000000;
$white: #fcfeff;
$deep_blue: #035ae8;
$light_blue:#9fc6fc;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 28.8px;

}
body {
  font-family: roboto;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@mixin animate(){
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@mixin primary_button(){
  text-decoration: none;
  color: $white;
  background-color: $blue;
  padding: 15px 80px;
  display: inline-block;
  margin: 20px 0;
  &:hover {
    background-color: $deep_blue;
  }
}