.hero {
  & .star {
    position: absolute;
    left: 170px;
    top: 800px;
    @include animate;
  }
  & .avatar {
    position: absolute;
    right: 300px;
    top: 150px;
    @include animate;
  }
  & .hero-title {
    font-family: visby;
    font-size: 48px;
  }
  & .hero-text {
    // margin: 35px auto 20px auto;
    margin: 40px auto;
    line-height: 28.8px;
    width: 60%;
    text-align: center;
  }
  margin: 60px auto;
  align-items: center;
  text-align: center;
  & .image-grid {
    width: 60%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    gap: 3rem;
    border: 2px solid $black;
    padding: 30px;
    & img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  & a {
    @include primary_button;
    margin: 0;
  }
}

.modal-content{
  & img{
    width: 50%;
    margin: auto;

  }
  & .modal-buttons{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    & a{
      @include primary_button;
      padding: 15px 30px;
    }
  }
}