.testimonies {
  margin: 100px auto;
  & .users {
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
    font-family: visby;
    line-height: 70px;
  }
  & .testimonials-inner {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: auto;
    & div {
      padding: 20px;
      text-align: center;
      & .testifier {
        display: flex;
        align-items: center;
        justify-content: center;
        & .testimonial-title {
          font-family: visby;
          font-size: 30px;
        }
        & img {
          width: 10%;
        }
      }
      & .testimonial-text {
        text-align: left;
      }
      & .stars {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    & .grid1 {
      border: 2px solid $blue;
      color: $blue;
    }
    & .grid2 {
      background-color: $black;
      color: $white;
    }
    & .grid3 {
      background-color: $blue;
      color: $white;
    }
    & .grid4 {
      border: 2px solid $black;
    }
  }
}
